@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

/*-------header section----------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.bg-img {
    background-image: url(../images/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
}

.num {
    list-style: none;
    color: #fff;
    font-weight: 700px;
}


/* .num2 {
    margin-left: 23.5em;
} */

.head-profile {
    border-radius: 60px;
    margin-top: 11rem;
    height: 15vh;
}

.head-text {
    margin-top: 14rem;
    font-weight: 400px;
    font-size: 22px;
}

.header-btn {
    background-color: orangered;
    color: #fff;
    border: none;
    align-items: right;
}

.header-btn:hover {
    background-color: #000000;
    color: orangered;
    border: 1px solid orangered;
}

.btn-link:hover {
    background-color: #000;
    color: orangered !important;
    border: 1px solid orangered;
    text-decoration: none !important;
}

.card-profile {
    margin-left: 23rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    width: 12%;
    height: 5rem;
    font-size: 14px;
    font-weight: bold;
}

.num {
    display: inline;
    align-items: flex-end;
}

.fa-check-circle {
    color: rgb(69, 124, 69);
}


/*-------section-two----------*/

.fa-star {
    color: gold;
}

.card-img-top {
    width: 200px;
}


/* 
.features-ul {
    list-style: none;
    width: 50%;
    padding: 1rem 0 0 0;
    height: 47vh;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: left;
}

.features-ul1 {
    list-style: none;
    width: 50%;
    padding: .5rem 0 0;
    height: 10vh;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: left;
} */

.text-color {
    font-weight: 700px;
    font-size: 16px;
    color: #D65A31;
}

.h6-text {
    font-size: 12px;
}

.text-color1 {
    font-weight: 700px;
    font-size: 22px;
    color: #D65A31;
}

.p-text {
    color: #000;
    font-size: 15px
}

.line {
    width: 100%;
    border-bottom: .35px solid rgb((37, 34, 34)48, 146, 146);
    white-space: pre-line;
}

.btn-link {
    color: #fff;
    border-radius: 45px;
    border: 1px solid #fff;
}

.btn-link:hover {
    color: #fff;
}

p {
    margin: 0
}

.people-wrap {
    width: 33%;
    display: flex;
    align-items: center
}

img {
    display: block
    /* remove gap*/
}

article.bel>div {
    width: 20rem;
    border: 1px solid #000;
    border-radius: 0.25rem;
    margin: 1rem auto;
    margin-right: 4rem;
    margin-left: 3rem;
}

.bel-header {
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
    width: 100%;
    padding: .5rem;
    border-bottom: 1px solid #c4c4c4;
}

.bel-header p {
    display: block;
    font-weight: bold;
}

.bel-body {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    align-items: flex-start;
    margin-left: .5rem;
}

.bel-img {
    width: 4rem;
    border-radius: 50%;
}

.bel-name {
    padding-top: 0.5rem;
    margin-left: 0.75rem;
}

.bel-name :first-child {
    margin-bottom: 0.25rem;
}

.bel-name :last-child {
    opacity: 0.5!important;
}

.btn-link1 {
    margin: .5em 0 .5em 12em;
    color: orangered !important;
}

.btn-link1:hover {
    background-color: #000;
    color: #fff !important;
    text-transform: capitalize;
    text-decoration: none !important;
}


/*-----required breakpoints-----*/

@media (min-width: 200px)and (max-width: 500px) {
    .card-profile {
        margin-left: 12rem;
        top: -7em;
        clear: left;
        border-radius: 5px;
        width: 80%;
        height: 5rem;
        font-size: 13px;
        font-weight: bold;
    }
    .header-btn {
        margin-top: -29em;
        clear: left;
    }
}